[db_official]
base = mysql
host = 127.0.0.1
port = 3306
user = root
password = 123456
database = mcb
charset = utf8mb4
collation = utf8mb4_general_ci

[db_business]
base = mysql
host = 127.0.0.1
port = 3306
user = root
password = 123456
database = business
charset = utf8mb4
collation = utf8mb4_general_ci

[db_community]
base = mysql
host = 127.0.0.1
port = 3306
user = root
password = 123456
database = business
charset = utf8mb4
collation = utf8mb4_general_ci

[constants]
c = 2.99792458e8
N_MIR = 119.9170
M_FIR = 59.9585

[server]
result_path = ./results-download
server_ip = localhost
server_port = 8000